{% extends 'base.html' %}
{% block contenido %}

<div style="background-color: #E6E6FA; padding: 10px; text-align: center;">
  <h5 style="color: rgb(61, 20, 80);">REPORTE PAGOS</h5>
</div>

<div class="container mt-4">
  <div class="container-reporte">
    <h6>Bienvenida Nelly a la vista de Pagos</h6>
    <p>En esta vista podrás emitir reportes de todos los pagos que has recibido en un rango determinado de fechas, incluyendo si los pagos fueron realizados mediante efectivo o transferencia.</p>
    <p>Para ello, selecciona una FECHA DESDE y una FECHA HASTA, luego presiona el botón "Generar Reporte". Es importante que ingreses las fechas, ya que si no lo haces, no podrás generar el reporte.</p>
  </div>

  <form class="form-container-reporte">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <div class="fecha-container">
        <label for="fecha_desde" class="form-label">Fecha Desde</label>
        <input id="fecha_desde" class="form-control" type="date" />
      </div>

      <div class="fecha-container">
        <label for="fecha_hasta" class="form-label">Fecha Hasta</label>
        <input id="fecha_hasta" class="form-control" type="date" />
      </div>
    </div>

    <button type="button" class="btn btn-generar-reporte" onclick="generarReportePagos()">Generar Reporte</button>
  </form>
</div>

<style>
  .container-reporte {
    background-color: #F8F4F9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }

  .form-container-reporte {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }

  .fecha-container {
    flex: 1;
    margin-right: 10px;
  }

  .form-label {
    color: #392F5A;
  }

  .form-control {
    border-color: #392F5A;
  }

  .btn-generar-reporte {
    background-color: #A78FC4;
    border-color: #A78FC4;
    color: #FFFFFF;
    margin-top: 10px;
    transition: background-color 0.3s ease-in-out;
  }

  .btn-generar-reporte:hover {
    background-color: #392F5A;
    border-color: #392F5A;
  }
</style>

<script src="{{ url_for('reportePagos.static', filename='reportePagos.js') }}"></script>
{% endblock %}
