{% extends 'base.html' %}
{% block contenido %}
  <!-- Encabezado "CATEGORÍAS" con fondo suave -->
  <div style="background-color: #E6E6FA; padding: 10px; text-align: center;">
    <h5 style="color: rgb(61, 20, 80);">CATEGORÍAS</h5>
  </div>

  <!-- Botón para agregar categoría y tabla DataTable -->
  <button type="button" class="btn btn-primary m-4" data-bs-toggle="modal" data-bs-target="#AgregarProductoModal">
    Agregar Producto
  </button>

  <div class="table-responsive m-4">
    <table id="datos_productos" class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Genero</th>
          <th>Nombre</th>
          <th>Detalle</th>
          <th>Precio</th>
          <th>Stock</th>
          <th>Categoria</th>
          <th>Material</th>
          <th>ACCIONES</th>
        </tr>
      </thead>
    </table>
  </div>

  {% include 'agregar_productos.html' %}
  {% include 'editar_productos.html' %}
  <script src="{{ url_for('productos.static', filename='productos.js') }}"></script>

  <style>
    /* Estilos para la tabla DataTable */
    #datos_productos {
      width: 80%; /* Cambia el porcentaje según el tamaño deseado */
      margin: 0 auto; /* Centra la tabla horizontalmente */
    }

    /* Define tus estilos personalizados aquí */
  </style>
{% endblock %}
