{% extends 'base.html' %}
{% block contenido %}
  <!-- Encabezado "CATEGORÍAS" con fondo suave -->
  <div style="background-color: #E6E6FA; padding: 10px; text-align: center;">
    <h5 style="color: rgb(61, 20, 80);">VENTAS</h5>
  </div>

  <!-- Botón para agregar categoría y tabla DataTable -->
  <button type="button" class="btn btn-primary m-4" onclick="agregarVenta()">
    Agregar Venta
  </button>

  <div class="table-responsive m-4">
    <table id="datos_venta" class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Folio</th>
          <th>Cliente</th>
          <th>TOTAL</th>
          <th>Abonado</th>
        
        </tr>
      </thead>
    </table>
  </div>

  {% include 'agregar_venta.html' %}
  <!-- {% include 'editar_productos.html' %} -->
  <script src="{{ url_for('ventas.static', filename='ventas.js') }}"></script>

  <style>
    /* Estilos para la tabla DataTable */
    #datos_ventas {
      width: 80%; /* Cambia el porcentaje según el tamaño deseado */
      margin: 0 auto; /* Centra la tabla horizontalmente */
    }

    /* Define tus estilos personalizados aquí */
  </style>
{% endblock %}
