{% extends 'base.html' %}
{% block contenido %}
  <!-- Encabezado "CLIENTES" -->
  <div style="background-color: #E6E6FA; padding: 10px; text-align: center;">
    <h5 style="color: rgb(61, 20, 80);">PAGOS</h5>
  </div>

  <!-- Botón para agregar cliente y tabla DataTable -->
  <button type="button" class="btn btn-primary m-4" onclick="agregarPago()">
    Agregar Pago
  </button>

  <div class="mb-3">
    <label for="cliente" class="form-label">Cliente</label>
    <select id="cliente" class="form-select" onchange="cargar_datos_cliente()">
    </select>
  </div>

  <div class="table-responsive m-4">
    <table id="datos_pagos" class="table table-striped table-bordered">
      <thead>
        <tr>
         
          <th>CLIENTE</th>
          <th>MONTO</th>
          <th>FECHA</th>

        </tr>
      </thead>
    </table>
  </div>

  {% include 'agregar_pago.html' %}
  <script src="{{ url_for('pagos.static', filename='pagos.js') }}"></script>

  <style>
    /* Estilos para la tabla DataTable */
    #datos_pagos {
      width: 80%; /* Cambia el porcentaje según el tamaño deseado */
      margin: 0 auto; /* Centra la tabla horizontalmente */
    }

    /* Define tus estilos personalizados aquí */
  </style>
{% endblock %}
