{% extends 'base.html' %}
{% block contenido %}
  <!-- Encabezado "CLIENTES" -->
  <div style="background-color: #E6E6FA; padding: 10px; text-align: center;">
    <h5 style="color: rgb(61, 20, 80);">CLIENTES</h5>
  </div>

  <div class="content-container container mt-4" style="border: 4px solid #3D1450; border-radius: 10px; background-color: #3D1450; color: #FDF5E6;">
    <h6>Bienvenida Nelly a la vista de CLIENTES</h6>
    <p>Aquí podrás gestionar a todos tus clientes, editar su información y ver cuánta deuda poseen.</p>
  </div>
  
  
  
  
  <!-- Botón para agregar cliente y tabla DataTable -->
  <button type="button" class="btn btn-primary m-4" data-bs-toggle="modal" data-bs-target="#AgregarClienteModal">
    Agregar Cliente
  </button>

  <div class="table-responsive m-4">
    <table id="datos_clientes" class="table table-striped table-bordered">
      <thead>
        <tr>
         
          <th>RUT</th>
          <th>APELLIDO</th>
          <th>NOMBRE</th>
          <th>TELEFONO</th>
          <th>DIRECCION</th>
          <th>DEUDA</th>
          <th>ACCIONES</th>
        </tr>
      </thead>
    </table>
  </div>

  
<div class="modal" tabindex="-1" role="dialog" id="confirmarEliminarClienteModal">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title">Confirmar Eliminación</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <p>¿Está segura de que desea eliminar este cliente?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-danger" id="confirmarEliminarClienteBtn">Confirmar</button>
          </div>
      </div>
  </div>
</div>



  {% include 'agregar_cliente.html' %}
  {% include 'editar_cliente.html' %}
  <script src="{{ url_for('clientes.static', filename='clientes.js') }}"></script>

  <style>

    
    #datos_clientes {
        width: 80%; 
        margin: 0 auto; 
    }

    #datos_clientes th,
    #datos_clientes td {
        text-align: center; 
    }

    #datos_clientes thead th {
        background-color: rgb(61, 20, 80); 
        color: #fff; 
    }

    #datos_clientes tbody tr:nth-child(even) {
        background-color: #f8f9fa; 
    }

    #datos_clientes tbody tr:hover {
        background-color: #d1ecf1; 
    }

    .container-reporte {
    background-color: #F8F4F9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
    
</style>
{% endblock %}
