<div class="modal fade" id="EditarMaterialModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Material</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <input type="text" class="form-control" id="editar_id" hidden>
            <div class="mb-3">
              <label for="editar_nombreCategoria" class="form-label">Nombre del Material</label>
              <input type="text" class="form-control" id="editar_nombre">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" onclick="guardarEdicion()">Guardar Cambios</button>
        </div>
      </div>
    </div>
  </div>
  